{% extends "base.html" %}
{% block content %}
  <a href="{{ url_for('ver_encuestas') }}" class="btn btn-secondary mb-3">&larr; Volver a Encuestas</a>
  <h1>Preguntas de: {{ encuesta.titulo }}</h1>
  <a href="{{ url_for('nueva_pregunta', id_encuesta=encuesta.id) }}" class="btn btn-success mb-2">Nueva Pregunta</a>

  <ul class="list-group">
    {% for p in preguntas %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
            <strong>{{ p.texto_pregunta }}</strong>
            <span class="badge bg-info">{{ p.tipo }}</span>
        </div>
        <a href="{{ url_for('eliminar_pregunta', id=p.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Seguro?')">Eliminar</a>
    </li>
    {% else %}
    <li class="list-group-item">No hay preguntas en esta encuesta.</li>
    {% endfor %}
  </ul>
{% endblock %}